/*--
    Common Css
--*/
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px;
}

h1,
.h1 {
  font-size: 44px;
  line-height: 56px;
}

h2,
.h2 {
  font-size: 30px;
  line-height: 35px;
}

h3,
.h3 {
  font-size: 23px;
  line-height: 25px;
}

h4,
.h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.plantita-logo{
  width: 80%;
}

p {
  font-size: 18px;
  line-height: 22px;
}

.img-map-icon{
  height: 40px;
  width: 40px;
}

@media(max-width:610px) {
  h1,
  .h1 {
    font-size: 34px;
    line-height: 46px;
  }

  h2,
  .h2 {
    font-size: 25px;
    line-height: 30px;
  }

  h3,
  .h3 {
    font-size: 18px;
    line-height: 20px;
  }

  h4,
  .h4 {
    font-size: 15px;
    line-height: 19px;
    font-weight: 300;
  }

  p {
    font-size: 12px;
    line-height: 18px;
  }

  .img-map-icon{
    height: 25px;
    width: 25px;
  }

  .plantita-logo{
    width: 50vw;
  }

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  transition: all 0.2s ease-in-out 0s;
}

.mt-100 {
  margin-top: 100px;
}

.bg-orange {
  background: #f9a743;
}

.bg-opacity {
  position: relative;
}

.bg-opacity:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}

.section {
  padding: 100px 0px;
}

.font-size-60 {
  font-size: 60px;
  line-height: 1.2;
}

@media (max-width: 575px) {
  .font-size-60 {
    font-size: 40px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px;
}

.heading h2 {
  color: #3c3c3c;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.heading p {
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
}

.subheading {
  color: #3c3c3c;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
}

.btn {
  border-radius: 0;
}

.btn-main {
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  background-color: #f9a743;
  box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
  background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
}

.btn-main:hover, .btn-main:focus {
  background-color: #f9a743;
  color: #fff;
}

.btn-main-sm {
  padding: 12px 35px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

/*Preloader*/
#preloader-wrapper {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-loader {
  width: 130px;
  height: 130px;
  background: #f9a743;
  border-radius: 50%;
  animation: loading 6s infinite reverse linear;
  position: relative;
  font-family: "themefisher-font" !important;
}

.pre-loader:before {
  content: "\f3bd";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  font-size: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

@-webkit-keyframes loading {
  /*  */
  0% {
    box-shadow: inset 0 0 0 80px #f9a743;
  }
  8.49% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743;
  }
  /* orange */
  8.5% {
    box-shadow: inset 0 0 0 0 #ff8133;
  }
  24.99% {
    background: #ff8133;
    box-shadow: inset 0 0 0 160px #ff8133;
  }
  /* yellow */
  25% {
    box-shadow: inset 0 0 0 0 #ffbe1a;
  }
  41.49% {
    background: #ffbe1a;
    box-shadow: inset 0 0 0 160px #ffbe1a;
  }
  /*  */
  41.5% {
    box-shadow: inset 0 0 0 0 #f9a743;
  }
  57.99% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743;
  }
  /* blue */
  58% {
    box-shadow: inset 0 0 0 0 #00b5d9;
  }
  74.49% {
    background: #00b5d9;
    box-shadow: inset 0 0 0 160px #00b5d9;
  }
  /* purple */
  74.5% {
    box-shadow: inset 0 0 0 0 #9772e5;
  }
  90.99% {
    background: #9772e5;
    box-shadow: inset 0 0 0 160px #9772e5;
  }
  /*  */
  91% {
    box-shadow: inset 0 0 0 0 #f9a743;
  }
  100% {
    background: #f9a743;
    box-shadow: inset 0 0 0 80px #f9a743;
  }
}

@keyframes loading {
  /*  */
  0% {
    box-shadow: inset 0 0 0 80px #f9a743;
  }
  8.49% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743;
  }
  /* orange */
  8.5% {
    box-shadow: inset 0 0 0 0 #ff8133;
  }
  24.99% {
    background: #ff8133;
    box-shadow: inset 0 0 0 160px #ff8133;
  }
  /* yellow */
  25% {
    box-shadow: inset 0 0 0 0 #ffbe1a;
  }
  41.49% {
    background: #ffbe1a;
    box-shadow: inset 0 0 0 160px #ffbe1a;
  }
  /*  */
  41.5% {
    box-shadow: inset 0 0 0 0 #f9a743;
  }
  57.99% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743;
  }
  /* blue */
  58% {
    box-shadow: inset 0 0 0 0 #00b5d9;
  }
  74.49% {
    background: #00b5d9;
    box-shadow: inset 0 0 0 160px #00b5d9;
  }
  /* purple */
  74.5% {
    box-shadow: inset 0 0 0 0 #9772e5;
  }
  90.99% {
    background: #9772e5;
    box-shadow: inset 0 0 0 160px #9772e5;
  }
  /*  */
  91% {
    box-shadow: inset 0 0 0 0 #f9a743;
  }
  100% {
    background: #f9a743;
    box-shadow: inset 0 0 0 80px #f9a743;
  }
}

/* navigation */
.navbar-brand {
  color: #444;
  font-size: 25px;
  margin: 0;
  line-height: 1;
}

.nav-link {
  font-size: 14px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #444;
}

/*--
    feature start
--*/
/*--
    Feature-list start
--*/
.feature-list .btn-main {
  margin-top: 15px;
}

/*--
  Gallery start
--*/
.gallery {
  padding-bottom: 100px;
}

.gallery .owl-item {
  overflow: hidden;
  position: relative;
}

.gallery .block {
  padding: 20px;
}

.gallery .block:hover .gallery-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.gallery .gallery-overlay {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
  background: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  color: inherit;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transition: all .3s;
  z-index: 2;
  opacity: 0;
}

.gallery .gallery-overlay .gallery-popup {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f9a743;
  padding: 5px 10px;
  border-radius: 40px;
  width: 50px;
  height: 50px;
}

.gallery .gallery-overlay .gallery-popup i {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  display: inline-block;
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}

/*--
    service start
--*/
.testimonials .testimonial-block {
  padding: 0 10px;
}

.testimonials .testimonial-block i {
  font-size: 40px;
  display: inline-block;
  margin-bottom: 20px;
  color: #f9a743;
}

.testimonials .testimonial-block p {
  font-family: "Droid Serif", serif;
  font-size: 14px;
  color: #777;
}

.testimonials .testimonial-block .author-details {
  margin-top: 30px;
}

.testimonials .testimonial-block .author-details img {
  border-radius: 50%;
  width: 50px;
}

.testimonials .testimonial-block .author-details h4 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

/*--
    call-to-action start
--*/
.container-count {
  margin-top: 100px
}

.counter-box {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
}

/* Anahaw */
.counter-box1 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://c1.wallpaperflare.com/preview/137/960/838/plant-nature-symmetry-lines.jpg');
  background-position: center;
  background-size: cover;
}

/* Bagawak Morado */
.counter-box2 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://i.pinimg.com/originals/72/ac/73/72ac738f22f98a1ea4aa5e1ff60f7d92.jpg');
  background-position: center;
  background-size: cover;
}

/* Bignay */
.counter-box3 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://live.staticflickr.com/482/20313727300_b016a44206_b.jpg');
  background-position: center;
  background-size: cover;
}

/* Copelands Pitcher */
.counter-box4 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://upload.wikimedia.org/wikipedia/commons/d/d2/Nepenthes_copelandii1.jpg');
  background-position: center;
  background-size: cover;
}

/* Kris Plant */
.counter-box5 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://candide.com/img/3e3dbbba-2b18-47d1-95f5-c67ed13b4f4d/cropped/600x480');
  background-position: center;
  background-size: cover;
}

/* Kalingag */
.counter-box6 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://binhi.ph/wp-content/uploads/2018/11/Cinnamomum-mercadoi_Kidapawan_Alexis-d-Manuel-20151014_091931.jpg');
  background-position: center;
  background-size: cover;
}

/* Katmon */
.counter-box7 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://upload.wikimedia.org/wikipedia/commons/9/9c/Dillenia_philippinensis_1.jpg');
  background-position: center;
  background-size: cover;
}

/* Payau */
.counter-box8 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://www.thespruce.com/thmb/tBRuGciJi5_SkbM55xfsJvpCpyg=/2121x1414/filters:no_upscale():max_bytes(150000):strip_icc()/HomalomenarubescensAmphawanChanunphaGettyImages-1091731492-144db48b0fcf4c1f96eb69cb5d51c089.jpg');
  background-position: center;
  background-size: cover;
}

/* Tangisang Bayawak */
.counter-box9 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://www.agriculture.com.ph/wp-content/uploads/2020/05/73TibigTree_April2020.jpg');
  background-position: center;
  background-size: cover;
}

/* Tayabak */
.counter-box10 {
  display: block;
  color: #ffffff;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://www.gannett-cdn.com/presto/2021/02/15/NCOD/cf3f2cdc-bba0-42b5-97e1-87638414e8b5-Jade_Vine_sg.jpg?width=660&height=440&fit=crop&format=pjpg&auto=webp');
  background-position: center;
  background-size: cover;
}

.counter-box11 {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 40px 20px 37px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1607513746994-51f730a44832?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80');
  background-position: center;
  background-size: cover;
}

.counter-box:hover, .counter-box1:hover, .counter-box2:hover, .counter-box3:hover, .counter-box4:hover, .counter-box5:hover,
.counter-box6:hover, .counter-box7:hover, .counter-box8:hover, .counter-box9:hover, .counter-box10:hover, .counter-box11:hover{
  background-image: url('https://www.stockvault.net/data/2020/10/02/279352/preview16.jpg');
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #d2d2d2
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 28px
}

.counter-box.colored {
  background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #ffff;
}

.design{
  z-index: 1; 
  position: absolute;
}

@media (max-width: 575px) {
  .design{
    height: 40vh;
  }
}

.media-29101 {
  text-align: center; }
  .media-29101 img {
    margin-bottom: 20px;
    border-radius: 50%;
    width: 80px !important;
    margin: 0 auto 40px auto; }
  .media-29101 h3 {
    font-size: 18px;
    font-weight: 900 !important;
    margin-bottom: 30px; }
    .media-29101 h3 a {
      color: #6c757d; }

.owl-2-style .owl-nav {
  display: none; }

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px; }
  .owl-2-style .owl-dots .owl-dot {
    display: inline-block; }
    .owl-2-style .owl-dots .owl-dot span {
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 0px;
      background: #cccccc;
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 3px;
      border-radius: 50%; }
    .owl-2-style .owl-dots .owl-dot.active span {
      background: #ffffff; }
    .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
      outline: none; }

.back_to_top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  background-color: #f9a743;
}

.btn1 {
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px 30px;
  display: inline-block;
  background-color: #f44336;
  box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
  /* background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%); */
}

.btn-upload{
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px 30px;
  display: inline-block;
  background-color: #198754;
  box-shadow: 0 15px 40px rgba(119, 249, 68, 0.5); 
}