{% extends 'home/base.html' %}
{% load static %}

{% block masthead %}
<!-- hero area -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-5 mb-md-0">
                <img src="{% static '/home/images/plant.png' %}" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-60">Know Your <span style="color:rgba(3, 139, 3, 0.849)">Plant</span> Better</h1>
                    <p class="mb-4">
                        Take a picture of your plant, upload, then wait for the initial
                        identification!
                    </p>
                    <a class="btn btn-main" href="{% url 'uploadplant' %}" role="button">Upload</a>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close --> 
{% endblock %}

{% block register_login %}
<section class="feature-list section" style="background-color: rgba(45, 124, 108, 0.444);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Be a contributor and help the Philippine flora grow.</h4>
                    <p>Save your plant photos and landmarks, register now!</p>
                    <div class="row">
                        <div class="col">
                            <a id="register" href="{% url 'register' %}" class="btn btn-main btn-main-sm">Register</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'login' %}" class="btn btn-main btn-main-sm">Login</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="{% static '/home/images/phone.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="feature-list section">
    <div class="container justify-content-center">
        <div class="row"> 
                <div class="col">
                    <div class="card justify-content-center shadow p-3 mb-5 bg-white rounded" style="height: 90vh; width: 50vw; border-radius: 5%;">
                        <div class="row justify-content-center"> <!---- Overall Count of Predicted Plants --->
                            <div class="col mt-5 order-1 text-center">
                                <div class="container">
                                    <h3 class="subheading" style="border-radius: 50%; 
                                                                            width: 200px; 
                                                                            height: 200px; 
                                                                            padding: 80px 50px; 
                                                                            background-color: rgb(204, 187, 161);;
                                                                            border: 1px #666;
                                                                            color: rgb(255, 255, 255);
                                                                            text-align: center;
                                                                            margin: auto;">
                                    {{totalpred}}
                                    </h3>
                                </div>
                            </div>
                        </div> <!---- End .row - Overall Count of Predicted Plants --->
                        <div class="row justify-content-center"> <!---- row2 Overall Count of Predicted Plants --->
                            <div class="col mt-5 order-2 text-center" >
                                    <h3 class="subheading">Overall Predicted Plants</h3>
                                    <p><small class="text-muted">by Plantita</small></p>
                            </div> 
                        </div> <!---- End .row2 - Overall Count of Predicted Plants --->
                    </div> <!---- End .card - Overall Count of Predicted Plants --->
                </div>
                <div class="col">
                    <div class="card justify-content-center shadow p-3 mb-5 bg-white rounded" style="height: 35vh; width: 20vw; margin: auto; border-radius: 5%;">
                        <div class="row justify-content-center"> <!---- Plant Count --->
                            <div class="col mt-5 order-1 text-center">
                                    <h3 style=" color: rgb(99, 105, 80); text-align: center; font-size: 13px; padding-bottom: 35px;">
                                        Anahaw: {{anhw_totalpred}}
                                        <br>
                                        Bignay: {{bgny_totalpred}}
                                        <br>
                                        Kalingag: {{klngg_totalpred}}
                                        <br>
                                        Katmon: {{ktmn_totalpred}}
                                    </h3>
                            </div>
                        </div> <!---- End .row Count --->
                    </div>
                    <div class="card justify-content-center shadow p-3 mb-5 bg-white rounded" style="height: 35vh; width: 20vw; margin: auto; border-radius: 5%;">
                        <div class="row justify-content-center"> <!---- Plant Count --->
                            <div class="col mt-5 order-1 text-center">
                                    <h3 style=" color: rgb(99, 105, 80); text-align: center; font-size: 13px; padding-bottom: 35px;">
                                        Kris Plant: {{krsp_totalpred}}
                                        <br>
                                        Payau: {{payau_totalpred}}
                                        <br>
                                        Tayabak: {{tybk_totalpred}}
                                        <br>
                                        Tangisang Bayawak: {{tngbywk_totalpred}}
                                    </h3>
                            </div>
                        </div> <!---- End .row Count --->
                    </div>
                    <div class="card justify-content-center shadow p-3 mb-5 bg-white rounded" style="height: 35vh; width: 20vw; margin: auto; border-radius: 5%;">
                        <div class="row justify-content-center"> <!---- Plant Count --->
                            <div class="col mt-5 order-1 text-center">
                                    <h3 style=" color: rgb(99, 105, 80); text-align: center; font-size: 13px; padding-bottom: 35px;">
                                        Bagawak Morado: {{bm_totalpred}}
                                        <br>
                                        Copeland's Pitcher: {{cp_totalpred}}
                                    </h3>
                            </div>
                        </div> <!---- End .row Count --->
                    </div>
                </div>
            </div> <!---- End .row1 ---->
        </div> 
    </div>
</section>
{% endblock %}

{% block gallery_grid %}
<section class="section">
    <div class="container">
        <div class="heading">
            <h2>Philippine Indigenous Plants</h2>
        </div>
       
            <div class="row justify-content-center" style="text-align: center;">
                    {% for home_item in home %}
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0 ">
                        <!-- gallery item 1-->
                        <div class="gallery-item" style="margin-left: auto; margin-right: auto; max-width: 26rem; display: flex; align-items: center; justify-content: center;">
                            <div class="card" style="width: 18rem;">
                                <img class="img-fluid" src="{{ home_item.plant_image.url }}" alt="{{ home_item.title }}"/> 
                                <div class="card-body" style="padding-bottom: 0%;">
                                    <h5 class="card-title">{{ home_item.title }}</h5>
                                    <p><small><i>{{ home_item.scientific_name }}</i></small></p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><small>{{ home_item.common_foreign_name1 }}, {{ home_item.common_foreign_name2 }}</small></li>
                                    <li class="list-group-item"><b><a style="color: #f9a743;" href="{% url 'plant_details' home_item.slug %}">More Info</a></b></li>
                                    <li class="list-group-item"><b><a style="color: #f9a743;" target="_blank" href="{{ home_item.ar_link }}">View Augmented Reality</a></b></li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
            </div><!-- .row close -->
                        
                        <div class="row mt-4 justify-content-center" style="text-align: center;">
                        {% endif %}
                        <br>
                        {% endfor %}
                        </div> <!-- row2 -->
    </div><!-- .container close -->
</section><!-- header close -->
{% endblock %}
