{% extends 'home/base.html' %}
{% load static %}

{% block masthead %}
<!-- hero area -->
<section class="section" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-5 mb-md-0">
                <img src="{% static '/home/images/plant.png' %}" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-start">
                <div class="block">
                    <h1 class="fw-bold mb-4 font-size-60">Know Your <span style="color:rgba(3, 139, 3, 0.849)">Plant</span> Better</h1>
                    <p class="mb-4">
                        Take a picture of your plant, upload, then wait for the initial
                        identification!
                    </p>
                    <a class="btn btn-main" href="{% url 'uploadplant' %}" role="button">Upload</a>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close --> 
{% endblock %}

{% block register_login %}
<section style="padding-bottom: 5%; ">
    <div class="container">
        <div class="container-count">
            <div class="row">
                <div class="four col-md-3">
                    <div class="counter-box colored"><span class="counter">{{totalpred}}</span>
                        <p>Overall Predicted Plants</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box1"><span class="counter">{{anhw_totalpred}}</span>
                        <p>Anahaw</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box2"><span class="counter">{{bgny_totalpred}}</span>
                        <p>Bignay</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box3"><span class="counter">{{bm_totalpred}}</span>
                        <p>Bagawak Morado</p>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="four col-md-3">
                    <div class="counter-box4"><span class="counter">{{cp_totalpred}}</span>
                        <p>Copeland's Pitcher</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box5"><span class="counter">{{klngg_totalpred}}</span>
                        <p>Kalingag</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box6"><span class="counter">{{ktmn_totalpred}}</span>
                        <p>Katmon</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box7"><span class="counter">{{krsp_totalpred}}</span>
                        <p>Kris Plant</p>
                    </div>
                </div>
                
                
            </div>
            <div class="row mt-2">
                <div class="four col-md-3">
                    <div class="counter-box8"><span class="counter">{{payau_totalpred}}</span>
                        <p>Payau</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box9"><span class="counter">{{tngbywk_totalpred}}</span>
                        <p>Tangisang Bayawak</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box10"><span class="counter">{{tybk_totalpred}}</span>
                        <p>Tayabak</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.counter').each(function () {
                $(this).prop('Counter',0).animate({
                Counter: $(this).text()}, 
                    {duration: 5000,
                    easing: 'swing',
                    step: function (now) {
                    $(this).text(Math.ceil(now));
                    }}
                );
            });

        });
    </script>
</section>
{% endblock %}

{% block gallery_grid %}
<section class="section">
    <div class="container">
        <div class="heading">
            <h2>Philippine Indigenous Plants</h2>
        </div>
       
            <div class="row justify-content-center" style="text-align: center;">
                    {% for home_item in home %}
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0 ">
                        <!-- gallery item 1-->
                        <div class="gallery-item" style="margin-left: auto; margin-right: auto; max-width: 26rem; display: flex; align-items: center; justify-content: center;">
                            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                <h3 class="card-header">{{ home_item.title }}</h3>
                                <div class="card-body" style="padding-bottom: 0%;">
                                    <p><small><i>{{ home_item.scientific_name }}</i></small></p>
                                    <img class="img-thumbnail" src="{{ home_item.plant_image.url }}" alt="{{ home_item.title }}"/> 
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><small>{{ home_item.common_foreign_name1 }}, {{ home_item.common_foreign_name2 }}</small></li>
                                        <li class="list-group-item list-group-item-action"><b><a style="color: #f9a743;" href="{% url 'plant_details' home_item.slug %}">More Info</a></b></li>
                                        <li class="list-group-item list-group-item-action"><b><a style="color: #f9a743;" target="_blank" href="{{ home_item.ar_link }}">View Augmented Reality</a></b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
            </div><!-- .row close -->
                        
                        <div class="row mt-4 justify-content-center" style="text-align: center;">
                        {% endif %}
                        <br>
                        {% endfor %}
                        </div> <!-- row2 -->
    </div><!-- .container close -->
    <img class="design" src="{% static 'home/images/design-left.png' %}">
</section><!-- header close -->


<section class="feature-list section" style="background-color: #c4d5a7;">
    <div class="container">
        <img class="design" src="{% static 'home/images/design-right.png' %}" style="right: 0;">
        <div class="heading">
            <h2 class="align-self-center text-center" style="font-weight: bold; color: rgb(255, 254, 252);">TUTORIALS</h2>
            <p class="align-self-center text-center">Watch Clima the Pinoy Cat, to show you how Plantita works!</p>
        </div>
        <div class="row">
            <div class="col order-md-1 order-1 align-self-center text-center text-md-left embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QOV2Xw9kYx0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>How to View 3D Plant Models using Augmented Reality?</p>
            </div>
            <div class="col order-md-2 order-2 text-center mb-5 mb-lg-0 text-md-left embed-responsive ">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QOV2Xw9kYx0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>How to Identify Plants using Plantita?</p>
            </div>
        </div>
    </div>
</section>

<!-- 
        Services Start
        ==================== -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Service</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <span class="d-inlin-block h2 mb-10 iconify" data-icon="ion:analytics-outline"></span>
                    <h4 class="font-weight-bold mb-2">Easy Identification</h4>
                    <p>Plantita uses Convolutional Neural Network to identify the uploaded Plant Images with 92% threshold.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <span class="d-inlin-block h2 mb-10 iconify" data-icon="ion:information-circle-outline"></span>
                    <h4 class="font-weight-bold mb-2">Realiable Information</h4>
                    <p>Relevant plant information are supported with Published Scientific Studies.</p>
                </div>
            </div>
            <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
                <img class="img-fluid" src="{% static 'home/images/plant-center.png' %}" alt="">
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <span class="d-inlin-block h2 mb-10 iconify" data-icon="ion:water-outline"></span>
                    <h4 class="font-weight-bold mb-2">Grow Philippine Flora</h4>
                    <p>Plantita focuses on the flora that can be originally found in the Philippines.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <span class="d-inlin-block h2 mb-10 iconify" data-icon="ion:aperture-outline"></span>
                    <h4 class="font-weight-bold mb-2">Augmented Reality Plants</h4>
                    <p>View Philippine plants in your grasps, virtually!</p>
                </div>
            </div>
        </div>
    </div><!-- .container close -->

<img class="design" src="{% static 'home/images/design-right2.png' %}" style="right: 0;">
</section><!-- #service close -->

<!--###### The team Section #####------>
<section class="feature-list section" style="background-color: #c4d5a7;">
    <div class="heading">
        <h2 style="color: rgb(255, 254, 252);">The Team</h2>
    </div>
<div class="site-section bg-left-half mb-5">
    <div class="container owl-2-style">   
      <div class="owl-carousel owl-2">
        <div class="media-29101">
          <img src="{% static 'home/images/team/christian.png' %}" alt="Image" class="img-fluid">
          <h3><a href="#">Christian Rhomel Aguila</a></h3>
          <p>Co-Founder & Developer</p>
        </div>

        <div class="media-29101">
          <img src="{% static 'home/images/team/mark.png' %}" alt="Image" class="img-fluid">
          <h3><a href="#">Mark Niño Carmen</a></h3>
          <p>Co-Founder & Augmented Reality Developer</p>
        </div>

        <div class="media-29101">
          <img src="{% static 'home/images/team/lara.png' %}" alt="Image" class="img-fluid">
          <h3><a href="#">Lara Jane Labutong</a></h3>
          <p>Co-Founder & Developer</p>
        </div>

        <div class="media-29101">
          <img src="{% static 'home/images/team/ivan.png' %}" alt="Image" class="img-fluid">
          <h3><a href="#">Mark Ivan Necesito</a></h3>
          <p>Co-Founder & Back-End Developer</p>
        </div>

        <div class="media-29101">
          <img src="{% static 'home/images/team/audrey.png' %}" alt="Image" class="img-fluid">
          <h3><a href="#">Audrey Solis</a></h3>
          <p>Co-Founder & 3D Developer</p>
        </div>

        <div class="media-29101">
          <img src="{% static 'home/images/team/send.png' %}" alt="Image" class="img-fluid">
          <h3><a href="#">Contact Us</a></h3>
          <p>Be in touch with us through e-mail
              <br>
              clima.thesis@gmail.com</p>
        </div>
      </div>
    </div>
    <img class="design" src="{% static 'home/images/design-left.png' %}">
  </div>
</div>
</section>
<!--###### END The team Section #####------>

<section class="feature-list section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Here at Plantita</h4>
                    <p>We Keep Going, We Keep Growing</p>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="{% static '/home/images/word-logo.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}
