{% extends 'home/base.html' %}
{% load static %}


{% block plant_webpage %}
    {% if plant_found %}
            <!-- Main section-->
            <section class="py-6">
            
                    <div class="container px-4 px-lg-5 my-5">
                        <div class="row gx-4 gx-lg-5 align-items-center">
                            <div class="col-md-6">
                                
                                <img class="rounded card-img-top mb-5 mb-md-0" src="{{ pg.plant_image.url }}" alt="..." />
                                
                            </div>
                            <div class="col-md-6">
                                
                                <div class="small mb-1">{{ pg.pronounciation }}</div>
                                <h1 class="display-5 fw-bolder">{{ pg.title }}</h1>
                                <div class="fs-5 mb-5">
                                    <span>{{ pg.scientific_name }}</span>
                                </div>
                                <p class="lead">{{ pg.botany }}</p>
                                
                            </div>
                        </div>
                    </div>

            </section>
   
            <!-- Information Section -->
            <section style="background-color: rgba(255, 215, 72, 0.478);" style="padding-top: 5%; padding-bottom: 5%;">   
                            <!-- Carousel -->
                            <!-- Top content -->
                                <div class="container-sm" style="padding-top: 5%; padding-bottom: 5%;">
                                    <div class="row justify-content-center" style="margin: 0 2%;">
                                        <div class="text-center">
                                            
                                            <h2 class="section-heading text-uppercase fw-bold">{{ pg.title }}</h2>
                                            <h3 class="section-subheading text-muted fs-5 mb-5"><i>{{ pg.scientific_name }}</i></h3>
                                            
                                        </div>

                                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>

                                            <div class="carousel-inner">
                                                <!-- Slider 1 -->
                                                <div class="carousel-item active">
                                                    <div class="row">
                                                        <div class="col-sm-4"><img src="{{ pg.gallery_slider_1_image1.url }}" class="rounded d-block w-100" alt="..."></div>
                                                        <div class="col-sm-4"><img src="{{ pg.gallery_slider_1_image2.url }}" class="rounded d-block w-100" alt="..."></div>
                                                        <div class="col-sm-4"><img src="{{ pg.gallery_slider_1_image3.url }}" class="rounded d-block w-100" alt="..."></div>
                                                    </div>
                                                </div>

                                                <!-- Slider 2 -->
                                                <div class="carousel-item">
                                                    <div class="row">
                                                        <div class="col-sm-4"><img src="{{ pg.gallery_slider_2_image1.url }}" class="rounded d-block w-100" alt="..."></div>
                                                        <div class="col-sm-4"><img src="{{ pg.gallery_slider_2_image2.url }}" class="rounded d-block w-100" alt="..."></div>
                                                        <div class="col-sm-4"><img src="{{ pg.gallery_slider_2_image3.url }}" class="rounded d-block w-100" alt="..."></div>
                                                    </div>
                                                </div>
                                                

                                              
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                              <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                              <span class="visually-hidden">Next</span>
                                            </button>
                                          </div>




                                    </div>
                                </div>
            </section>

            <section class="py-6" style="padding-top: 5%; padding-bottom: 8%;">
                            <!-- Vertical List -->
                            <div class="container-sm" style="width: auto;">
                                <div class="bd-info" role="tabpanel">
                                    <div class="row" style="flex: auto;">
                                        <!-- List Group -->
                                        <div class="col-lg-4 col-sm-4 mb-4">
                                            <div class="list-group" id="myList" role="tablist">
                                                <a class="list-group-item list-group-item-action active fs-5" data-toggle="list" href="#names" role="tab"><strong>Names</strong></a>
                                                <a class="list-group-item list-group-item-action fs-5" data-toggle="list" href="#local" role="tab"> <strong>Locality & Seasonality</strong></a>
                                                <a class="list-group-item list-group-item-action fs-5" data-toggle="list" href="#conserv" role="tab"> <strong>Conservation Status & Law</strong></a>
                                                <a class="list-group-item list-group-item-action fs-5" data-toggle="list" href="#util" role="tab"><strong>Utilization </strong></a>
                                                <a class="list-group-item list-group-item-action fs-5" data-toggle="list" href="#care" role="tab"><strong>Plant Care and Propagation</strong></a>
                                                <a class="list-group-item list-group-item-action fs-5" data-toggle="list" href="#disclaimer" role="tab"><strong>Disclaimer & References</strong></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-6 mb-8" style="padding-left: 8%;">
                                            <div class="tab-content">
                                                <!-- Tab Names -->
                                                <div class="tab-pane show active" id="names" role="tabpanel">
                                                    <div class="row">
                                                        <div class="gallery-item" style="margin-left: auto; margin-right: auto; display: flex; align-items: center; justify-content: center;">
                                                        <div class="col-sm-6">
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <h5><strong class="fs-4">COMMON NAMES</strong></h5>

                                                                    <!-- List of Names Philippine -->

                                                                    <li class="fs-6 fst-italic">
                                                                        &emsp;
                                                                        In the Philippines:
                                                                    </li>
                                                                    <ul style="list-style-type:circle"> 
                                                                        
                                                                        <li class="fs-5 fst-normal">{{ pg.common_philippine_name1 }}</li>
                                                                        <li class="fs-5 fst-normal">{{ pg.common_philippine_name2 }}</li>
                                                                        <li class="fs-5 fst-normal">{{ pg.common_philippine_name3 }}</li>
                                                                        
                                                                    </ul> 

                                                                    <!-- List of Names English-->
                                                                    <br></br>
                                                                    <li class="fs-6">
                                                                        &emsp;
                                                                        In Foreign Countries:
                                                                    </li>
                                                                    <ul style="list-style-type:circle">
                                                                        
                                                                        <li class="fs-5 fst-normal">{{ pg.common_foreign_name1 }}</li>
                                                                        <li class="fs-5 fst-normal">{{ pg.common_foreign_name2 }}</li>
                                                                        <li class="fs-5 fst-normal">{{ pg.common_foreign_name3 }}</li>
                                                                        
                                                                    </ul> 

                                                                    <!---- END List of Names ----->
                                                                
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6 ">
                                                            <ul class="list-inline">
                                                                
                                                                <li>
                                                                    <h5><strong class="fs-4">SCIENTIFIC NAMES</strong></h5>

                                                                    
                                                                    
                                                                    <li class="fs-6">
                                                                        &emsp;
                                                                        Other Scientific Names:
                                                                    </li>
                                                                    <ul style="list-style-type:circle">
                                                                        
                                                                        <li class="fs-5">{{ pg.sci_philippine_name1 }}</li>
                                                                        <li class="fs-5">{{ pg.sci_philippine_name2 }}</li>
                                                                        <li class="fs-5">{{ pg.sci_philippine_name3 }}</li>
                                                                        
                                                                    </ul> 

                                                                    
                                                                    <br></br>
                                                                    <li class="fs-6">
                                                                        &emsp;
                                                                        Other Scientific Names:
                                                                    </li>
                                                                    <ul style="list-style-type:circle"> 
                                                                        
                                                                        <li class="fs-5 fst-normal">{{ pg.sci_foreign_name1 }}</li>
                                                                        <li class="fs-5 fst-normal">{{ pg.sci_foreign_name2 }}</li>
                                                                        <li class="fs-5 fst-normal">{{ pg.sci_foreign_name3 }}</li>
                                                                        
                                                                    </ul> 

                                                                    <!---- END List of Names ----->

                                                                </li>
                                                            </ul>
                                                        </div>
                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!-- Tab Locality & Seasonality -->
                                                <div class="tab-pane" id="local" role="tabpanel">
                                                    <h5><strong class="fs-4">WHERE IN THE PHILIPPINES?</strong></h5>
                                                    <ul class="list-inline" style="list-style-type:circle">
                                                        <li class="fs-5">
                                                            <strong>Distribution in Philippines:</strong>
                                                            
                                                            {{ pg.distribution }}
                                                            
                                                        </li>
                                                    </ul>

                                                        
                                                        <!--- The Map  --->  
                                                </div>

                                                <!-- Tab Conservation Status & Law -->
                                                <div class="tab-pane" id="conserv" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <ul class="list-inline">
                                                                <li>
                                                                    
                                                                    <h5><strong class="fs-4">CONSERVATION STATUS IN THE PHILIPPINES</strong></h5>

                                                                    <!-- Conservation -->

                                                                    <ul style="list-style-type:circle">
                                                                    <li class="fs-5">
                                                                        
                                                                        <i>{{ pg.scientific_name }}</i> {{ pg.conservation_status }}
                                                                        
                                                                    </li>
                                                                    </ul>
                                                                    
                                                                    <!-- Law -->
                                                                    <br>

                                                                    <h5><strong class="fs-4">PHILIPPINE LAW</strong></h5>
                                                                    <ul style="list-style-type:circle">
                                                                    <li class="fs-5">Republic Act No. 9147 - "Wildlife Resources Conservation and Protection Act"</li>
                                                                        <ul class="list-inline">
                                                                            <li class="fs-5">
                                                                                <p>It shall be the policy of the State to conserve the country's wildlife resources and 
                                                                                their habitats for sustainability. 
                                                                                <a href="https://lawphil.net/statutes/repacts/ra2001/ra_9147_2001.html" target="_blank" class="fw-normal">Read More</a>
                                                                                </p> 
                                                                            </li>
                                                                        </ul>
                                                                    </ul>

                                                                </li>
                                                                    <!---- END ----->
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Tab Utilization -->
                                                <div class="tab-pane" id="util" role="tabpanel">
                                                    <!-- Uses -->
                                                    <h5><strong class="fs-4">USES</strong></h5>
                                                    <ul style="list-style-type:circle">
                                                        
                                                        <li class="fs-5">{{ pg.use_1 }}</li>
                                                        <li class="fs-5">{{ pg.use_2 }}</li>
                                                        <li class="fs-5">{{ pg.use_3 }}</li>
                                                        
                                                    </ul>

                                                    <!-- SCIENTIFIC STUDIES -->
                                                    <br>
                                                    <h5><strong class="fs-4">SCIENTIFIC STUDIES</strong></h5>
                                                    <ul style="list-style-type:circle">
                                                        
                                                        <li class="fs-5">
                                                            {{ pg.scientific_studies1 }}
                                                            <a href="{{pg.scientific_study_link1}}" target="_blank"><strong>Know More</strong></a>
                                                        </li>
                                                        <li class="fs-5">
                                                            {{ pg.scientific_studies2 }} 
                                                            <a href="{{pg.scientific_study_link2}}" target="_blank"><strong>Know More</strong></a>
                                                        </li>
                                                        <li class="fs-5">
                                                            {{ pg.scientific_studies3 }} 
                                                            <a href="{{pg.scientific_study_link3}}" target="_blank"><strong>Know More</strong></a>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>

                                                <!-- Tab Plant Care and Propagation -->
                                                <div class="tab-pane" id="care" role="tabpanel">
                                                    <h5><strong class="fs-4">PLANT CARE & PROPAGATION</strong></h5>
                                                    <ul style="list-style-type:circle">
                                                        
                                                        <li class="fs-5">
                                                            <strong>Light Preference:</strong>
                                                            {{ pg.light_preference }}
                                                        </li>
                                                        <li class="fs-5">
                                                            <strong>Water Preference:</strong>
                                                            {{ pg.water_preference }}
                                                        </li>
                                                        <li class="fs-5">
                                                            <strong>Propagation Method:</strong>
                                                            {{ pg.propagation_method }}
                                                        </li>
                                                        
                                                    </ul>
                                                </div>

                                                <!-- Tab Disclaimer & References -->
                                                <div class="tab-pane" id="disclaimer" role="tabpanel">
                                                    <h5><strong class="fs-4">DISCLAIMER</strong></h5>
                                                    <ul style="list-style-type:circle">
                                                        <li class="fs-5">
                                                            The information in this website has been compiled and organized from reliable sources. 
                                                        </li>
                                                        <li class="fs-5">
                                                            Plantita does not purport to provide any medical advice, all information provided is for educational and informational purposes only.
                                                        </li>
                                                        <li class="fs-5">
                                                            You are encouraged to confirm any information obtained from or through this website with other sources, and review all information regarding any medical condition or treatment with your physician.
                                                        </li>
                                                        <li class="fs-5">
                                                            Images presented here are gathered from online resources (websites, documents, etc.) for thesis purposes ONLY. The Plant Images belong to their respective owners/photographers.
                                                        </li>
                                                    </ul>
                                                    <br>
                                                    <h5><strong class="fs-4">REFERENCES</strong></h5>
                                                    <ul style="list-style-type:circle">
                                                        
                                                        <li class="fs-5">
                                                            {{ pg.references }}
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </section>
    {% endif %}
{% endblock %} 
