{% extends 'home/base.html' %}
{% load static %}

{% block masthead %}
<!-- Masthead-->
<header class="mastheadOther">
    <div class="container-fluid justify-content-center">
        <div class="mastheadOther-heading" style="padding-top: 5%;">
            <h1 class=" text-uppercase fw-bold" style="text-align: center;">
                Philippine
                <span style="color:rgba(3, 139, 3, 0.849)">
                    Plant 
                </span>
                Map
            </h1>
        </div>
    </div>
</header>
{% endblock %}

{% block map %}


<section style="padding: 0rem;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!--------- PH Plant Map  ------->
            <div class="col-md-12">
                <!--- The Map  --->
                <script>
                    var marker_locations = JSON.parse('{{ plants_locations|escapejs }}');
                </script>
                <div id="map" class="shadow-lg p-3 mb-5 bg-body rounded" style=" height: 50vh;"></div>
            
                
                <script src="{% static 'users/script/script_map.js' %}"></script>
                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBoynRu2BrpsTLY7f6dIt_jNP7IehmUto&callback=initMap&libraries=&v=weekly"
                        async
                    ></script>
            </div>  
        </div>
    </div> <!----End row gx-4 gx-lg-5 align-items-center -->

    <!------- Category Filter  ------>
    <div class="row align-items-center justify-content-center"> 
        <div class="col-md-12" style="margin: 2% auto; width: 300px;">
            <select class="form-select" style="text-align: center;" onchange="filterMarkers(this.value);">
                <option value="">Filter by Category</option>
                <option value="Anahaw - Saribus rotundifolius">Anahaw</option>
                <option value="Bagawak Morado - Clerodendrum quadriloculare">Bagawak Morado</option>
                <option value="Bignay - Antidesma bunius">Bignay</option>
                <option value="Copeland's Pitcher - Nepenthes copelandii">Copeland's Pitcher</option>
                <option value="Kalingag - Cinnamomum mercadoi">Kalingag</option>
                <option value="Katmon - Dillenia philippinensis">Katmon</option>
                <option value="Kris Plant - Alocasia sanderiana">Kris Plant</option>
                <option value="Payau - Homalomena philippinensis">Payau</option>
                <option value="Tangisang-Bayawak - Ficus variegata">Tangisang-Bayawak</option>
                <option value="Tayabak - Strongylodon macrobotrys">Tayabak</option>
                <option value="Sorry, Plantita cannot recognize the Plant">Unknown</option>
            </select>
        </div>
    </div>

    <!-- Legend Card -->
    <div class="container-fluid">
        <div class="row gx-6 gx-lg-5 align-items-center justify-content-center">
            <div class="col-lg-6 col-sm-4 mb-6">
                <div class="card card-with-shadow card-rounded-max card-without-border">
                    <div class="card-body text-center" style="padding-top: 2%; height: auto;">                                
                        <h5>Legend</h5>
                        <hr style="border: solid 2px round;">
                        <div class="row gx-4 gx-lg-5 align-items-center justify-content-center">
                            <div class="col-md-4 justify-content-center">
                                <!-- -- Anahaw Legend -->
                                    <img src="{% static 'users/icons/map_anahaw.png' %}" class="img-fluid img-map-icon">
                                    <p>Anahaw</p>
                            
                                <!-- Bagawak Morado Legend -->
                                    <img src="{% static 'users/icons/map_bagawakmorado.png' %}" class="img-fluid img-map-icon">
                                    <p>Bagawak Morado</p>

                                <!-- Bignay Legend -->
                                    <img src="{% static 'users/icons/map_bignay.png' %}" class="img-fluid img-map-icon">
                                    <p>Bignay</p>

                                <!-- Copeland Picther Legend -->
                                    <img src="{% static 'users/icons/map_pitcher.png' %}" class="img-fluid img-map-icon">
                                    <p>Copeland's Pitcher</p>

                                <!-- katmon Legend -->
                                    <img src="{% static 'users/icons/map_katmon.png' %}" class="img-fluid img-map-icon">
                                    <p>Katmon</p>
                            </div> <!-- End col-md-5 -->

                            <div class="col-md-4">
                                <!-- Kalingag Legend -->
                                    <img src="{% static 'users/icons/map_kalingag.png' %}" class="img-fluid img-map-icon">
                                    <p>Kalingag</p>

                                <!-- Kris Plant Legend -->
                                    <img src="{% static 'users/icons/map_krisplant.png' %}" class="img-fluid img-map-icon">
                                    <p>Kris Plant</p>

                                <!-- Payau Legend -->
                                    <img src="{% static 'users/icons/map_payau.png' %}" class="img-fluid img-map-icon">
                                    <p>Payau</p>

                                <!-- Tangisang-Bayawak Legend -->
                                    <img src="{% static 'users/icons/map_tangisang_bayawak.png' %}" class="img-fluid img-map-icon">
                                    <p>Tangisang-Bayawak</p>

                                <!-- Tayabak Legend -->
                                    <img src="{% static 'users/icons/map_tayabak.png' %}" class="img-fluid img-map-icon">
                                    <p>Tayabak</p>
                            </div> <!-- End col-md-5 -->
                        </div>
                    </div>
                </div>
            </div> <!-- End Legend Card -->

            <div class="col-lg-6 col-sm-4 mb-6"> <!-- Start div col-6 -->
                <!-- User Guide -->
                <div class="accordion accordion-flush" id="accordionExample" style="padding-top: 5%;">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What do plant icons represent on the map?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="fw-normal">The plant icons represent all image plants that have been identified using Plantita, uploaded by all the users throughout the Philippines.</p>
                                <hr>
                                <p>Ano ang nirerepresenta ng mga icon sa mapa?</p>
                                <p>Ang mga icon sa mapa ang nagrerepresenta ng lahat ng imahe ng halaman na nakilala ng Plantita.</p>
                            </div>
                        </div>
                        </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            May I know the exact locations or coordinates of the plants?  
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <p class="fw-normal">Sorry, Plantita cannot disclose such information. In order to protect the plants from threats such as overexploitation, its exact location cannot be disclosed to the public. </p>
                        <hr>
                        <p>Maaari ko bang malaman ang eksaktong lokasyon ng mga halaman?</p> 
                        <p>Upang mapangalagaan ang mga halaman mula sa lubos na pagkuha ng mga ito, ang eksaktong lokasyon ay hindi maaaring ipagbigay alam sa publiko ng basta-basta.</p>
                        </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Does Plantita show indigenous plants of other countries? 
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <p class="fw-normal">No, the Plantita site is solely for the indigenous plants that can be found in the <b>Philippines</b>.</p>
                        <hr>
                        <p>Kaya ba ng Plantita site na maipakita ang indigenous plants ng ibang bansa?</p>
                        <p>Hindi, sapagkat ang mga halaman lamang na galing at natural na namumunga sa Pilipinas ang ipinapakita sa Plantita.</p>
                        </div>
                    </div>
                    </div>

                    
                </div> <!-- End Div accordion -->
            </div> <!-- End Div col-6 -->
        </div>
    </div>
</section>

<!--###### The team Section #####------>
<section class="feature-list section">
<div class="site-section bg-left-half mb-5">
    <img class="design" src="{% static 'home/images/design-left2.png' %}">
    <div class="container owl-2-style">  
      <div class="owl-carousel owl-2">
        {% for home_item in home %} 
        <div class="media-29101">
          <img src="{{ home_item.plant_image.url }}" alt="{{ home_item.title }}" class="img-fluid">
          <h3><a href="{% url 'plant_details' home_item.slug %}">{{ home_item.title }}</a></h3>
          <p class="fw-normal">{{ home_item.scientific_name }}</p>
        </div>
        {% if forloop.counter|divisibleby:10 %}

        <div class="media-29101">
        {% endif %}
        {% endfor %}
        </div>

        <div class="media-29101">
            <span class="counter" style="color: black;">{{totalpred}}</span>
            <h3>Overall Plants Predicted</h3>
            <p>by All Users</p>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
<!--###### END The team Section #####------>
{% endblock %} 