{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block register %}
<div class="row justify-content-center content-section" style="padding:100px;">
    <div class="col-md-10 col-lg-6">
        <div class="wrap" style="background-color:rgba(164, 143, 6, 0.45);">
            <div class="p-4 p-md-5" style="position:relative">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            Contribute Today
                        </legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <br>
                        <button class="btn btn-outline-primary" type="submit">
                            Register
                        </button>
                    </div>
                </form>
                <br>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already have an account?
                        <a class="ml-2" href="{% url 'login' %}">
                            Log In
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
