{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block masthead %}
<!-- Masthead-->
<header class="mastheadOther">
    <div class="justify-content-center">
        <div class="mastheadOther-heading" style="padding-top: 5%;">
            <h1 class=" text-uppercase" style="text-align: center;">
                Upload
                <span class="font-weight-bold" style="color:rgba(3, 139, 3, 0.849)">
                    Plant 
                </span>
                Photo
            </h1>
        </div>
    </div>
</header>
{% endblock %}


{% block upload_photo %}
<section class="py-5">
    <div class="text-center" style="line-height: 0.5rem;">
        <p class="lead" style="font-size: 1rem;">           
            PLANTITA utilizes Convolutional Neural Network Models to identify 
            the features of Philippine Indigenous Plants and classify it.
        </p>
        <a href="#user_guide" style="scroll-behavior: smooth; text-decoration: none;">
            <small class="text-muted" style="font-size: 0.5rem; text-decoration: underline;">
                What to Upload?
            </small>  
        </a>
    </div> 
    <br>
    <hr class="solid" style="border-top: 4px solid gray;  margin: 0 20%;">

    <!-- Modal -->
    <div class="modal fade" id="ModalWhatUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Oops!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p>Image cannot be identified maybe due to the following reasons:</p>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">The image is too dark to recognize.</li>
                    <li class="list-group-item">The image is too blurry.</li>
                    <li class="list-group-item">The image does not show the plant's physical characteristics.</li>
                </ol>
            <a href="#user_guide" style="scroll-behavior: smooth; text-decoration: none;">
                <small class="text-muted" style="font-size: 0.5rem; text-decoration: underline;">
                    What to Upload?
                </small>  
            </a>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="container px-4 px-lg-5 my-5">
            <h5> Plant Location </h5>
            <br>
            <div class="row align-items-center">
                <!--------- PH Plant Map --------------->
                <div class="col-lg-12 col-xs-12">
                    <div class="container">
                    <!--- The Map  --->
                        <div id="mapuserlocator"  class="card justify-content-center shadow p-3 mb-5 bg-white rounded" style="margin: auto; height: 50vh; width: auto;"></div>
                    </div>
                    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                    <script src="{% static 'users/script/map_user_locator.js' %}"></script>
                    <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBoynRu2BrpsTLY7f6dIt_jNP7IehmUto&callback=initMap&libraries=&v=weekly"
                        async
                    ></script>
                </div>
                
                <script>
                    $(document).ready(function() {
                        $("#upload_btn").on('click', function(e) {
                            var uploadFile = document.getElementById("id_plant_image");
                            var filePath = uploadFile.value;
                            var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.bmp)$/i;
                            if (!uploadFile.value) {
                                e.preventDefault();
                                $("#nofileModal").modal("show");
                            }else{
                                if(!allowedExtensions.exec(filePath)) {
                                    e.preventDefault();
                                    $("#invalidfileModal").modal("show");
                                }else{
                                    $(this).prop("disabled", true);
                                    $(this).html(
                                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Uploading...`
                                    );
                                    $("#submitModal").modal("show");
                                    $("#upload_form").submit();
                                };
                            };
                        });
                    });
                </script>
                
                <!-- Modal for No File Selected -->
                <div class="modal fade" id="nofileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><strong>Please select an image file.</strong></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>  
                            <div class="modal-footer">
                                <button type="button" class="btn btn1" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>                

                <!-- Modal for Submitting Plant Image by User -->
                <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            
                            <div class="modal-body">
                                <div class="d-flex align-items-center">
                                    <h3><strong>Please Wait...</strong></h3>
                                    
                                    <!-- <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div> -->
                                    <div class="spinner-grow text-success ms-auto" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn1" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for No File Selected -->
                <div class="modal fade" id="invalidfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><strong>Invalid File Type!</strong></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>  
                            <div class="modal-footer">
                                <button type="button" class="btn btn1" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>                   
                
                <!-- Form Submit Plant Image by User  -->
                <div class="col-xs-12 mt-2" style="margin: auto;">
                    <div class="container" style="margin: auto;">
                        <br>
                        <form action="{% url 'uploadplant'  %}" id="upload_form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{predict_form|crispy}}
                            <button class="btn btn-upload my-4" id="upload_btn" type="submit" name="predconfirm">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Design Left -->
    <img class="design" src="{% static 'home/images/design-left.png' %}">
            <br>
            
    <!-- Previews Plant Image by User & Prediction -->
    <div class="container px-4 px-lg-5 my-5">
        <hr style="height: 1px; background-color: gray; width: 80%;">  
        <h2 style="padding-top: 2%; text-align: center;"> Plant Identification Result </h3>
        <br>
        <div class="row">
            {% if prediction %}
            <div class="col-md-6 order-md-2 order-2 align-self-center text-center text-md-left">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <p style="align-items: center;">The plant is identified as
                                <br>
                                <span class="fw-bold" style="color:rgba(3, 139, 3, 0.849)">
                                    <b>{{prediction}}</b>
                                </span>
                                {% if pred_loc %}
                                <p>Found at {{pred_loc}}</p>
                                {% endif %}
                                <a data-toggle="modal" data-target="#ModalCantIdnetify" style="text-decoration: underline;"><small>My plant can't be identified? Why?</small></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 order-md-1 order-1 text-center mb-5 mb-lg-0">
                <div class="content">
                    <div class="container justify-content-center text-center">
                        {% if plant_image %}
                            <img class="img-fluid" src="{{ plant_image.url }}" alt="{{ plant_image.title }}" style="object-fit: cover; width: auto; height: 40vh; align-items: center;"/> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ModalCantIdnetify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Oops!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p>Image cannot be identified maybe due to the following reasons:</p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">The image is too dark to recognize.</li>
                        <li class="list-group-item">The image is too blurry.</li>
                        <li class="list-group-item">The image does not show the plant's physical characteristics.</li>
                    </ol>
                <a href="#user_guide" style="scroll-behavior: smooth; text-decoration: none;">
                    <small class="text-muted" style="font-size: 0.5rem; text-decoration: underline;">
                        What to Upload?
                    </small>  
                </a>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-main" data-target="#ModalWhatUpload">What to Upload?</button>
                </div>
            </div>
            </div>
        </div>
    
    
        <div class="row gx-4 gx-lg-5 align-items-center" style="padding-top: 2%;">
            <div class="col">
            <div class="gallery-item" style="align-items: center; justify-content: center;">
                <div class="card" style="width: 18rem; margin: auto; align-items: center;">    
                        <p style="padding-top: 5%;">Indigenous Plants</p>
                        <p><small class="text-muted">Click for More Info</small></p>
                        {% for g in gallery %}
                        <div class="row">
                            <div class="col">
                                <a style="padding-bottom: 5%; color: #f9a743;" href="{% url 'plant_details' g.slug %}">{{g.title}}</a></b>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
        {% else %}
    </div>  <!----- end .row prediction result ----->

 <!-- Design right -->
 <img class="design" src="{% static 'home/images/design-right.png' %}" style="right: 0;">
    <!-- <div class="container px-4 px-lg-5 my-5">  -->
    <div class="row gx-4 gx-lg-5 align-items-center" style="padding-top: 2%;">
        <div class="col">
        <div class="gallery-item" style="align-items: center; justify-content: center;">
            <div class="card" style="width: 18rem; margin: auto; align-items: center;">    
                    <p>Indigenous Plants</p>
                    <p><small class="text-muted">Click for More Info</small></p>
                    {% for g in gallery %}
                    <div class="row">
                        <div class="col">
                            <a style="color: #f9a743;" href="{% url 'plant_details' g.slug %}">{{g.title}}</a></b>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
        {% endif %}
</section>
{%endblock%}
